<h1>Hello, <%= current_user.name %></h1><br/>
<h3>Github user: <%= current_user.login %></h3><br/>
<h5>Location: <%= current_user.location %></h5><br/>
<h5>Public Repositories: <%= current_user.public_repos %></h5><br>
<h5>Private Gists: <%= current_user.private_gists %></h5><br>
<h5>Public Gists: <%= current_user.public_gists %></h5><br>

<img src="<%= current_user.avatar %>"/><br>


<% if current_user %>
	<%= link_to "Logout", logout_path %>
<% end %>