
  <img id='user-pic' src="<%= current_user.avatar %>"/><br>
<section class='user-info'>
  <h1><%= current_user.name %></h1>
  <p><%= current_user.login %></p>
  <p><img src="https://cdn3.iconfinder.com/data/icons/stroke/53/Location-512.png"> <%= current_user.location %></p>
  <p>Repositories (<%= current_user.public_repos %>)</p>
  <p>Private Gists: <%= current_user.private_gists %></p>
  <p>Public Gists: <%= current_user.public_gists %></p>
</section>


